@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --icon-width: 4px;
  --icon-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body { */
/*  color: var(--foreground);
  background: var(--background);*/
/* font-family: Arial, Helvetica, sans-serif; */
/* } */

.toc-list {
  @apply w-full my-0 px-0;
}

.toc-link {
  @apply text-gray-400 border-l-4 no-underline transition-colors duration-200 inline-block w-full py-1.5 pl-2;
}

.is-collapsible .toc-link {
  @apply ml-2 font-normal;
}

.toc-link:hover {
  @apply text-[#324e73];
}

.toc-list-item {
  @apply list-none w-full py-0 my-0;
}

.is-active-link {
  @apply text-[#324e73] border-l-4 border-l-[#324e73];
}

.batsu {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
}

.batsu::before,
.batsu::after {
  /* 共通設定 */
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  /* 棒の幅（太さ） */
  height: 30px;
  /* 棒の高さ */
  background: #324e73;
  border-radius: 2.5px; /* 棒の四隅の丸み*/
}

.batsu::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.batsu::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.inlinemath {
  @apply inline-block align-[-2.5px];
}

.post p code,
.post summary code {
  @apply bg-[#d9dce1] rounded-md py-1 px-2 mx-1;
}

.post figure {
  @apply my-0;
}